/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/09/2017, 11:37:19
    Author     : Bianca
*/

#centerButtons{
    width: 100%;
    margin-top: 50px;
    text-align:center;
}

.btOption{
    margin-left: 580px;
}
.linkButton{
    color: #3366ff;
    font-family: arial;
}

.commandButtonStyle{
    color: #0032ac;
    background-color: #3388ff;
}
.backgroundClass{
    background-image:url("/AC8FETIN/faces/resources/images/meConsultabg_1.png");
    background-repeat:no-repeat;
background-size:120%;
background-position:center;  
}

.formStyle{
   width:60%;
   left: 50px;
}

.inputStyle{
    left: 30px;
    width: 300px;
}


.labelStyle{
    left: 30px;
    width: 300px;
}

.default-h1{
    color: #0032ac;
    font-family: arial;
    font-size: 30px;
}

body {
    background-image:url("images/logoMeConsulta.jpeg");
}

